*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
}



.main-container{
   display: flex;
  justify-content: center;
  align-items: center;
   height: 100vh;
  width: 100vw;

}

.container{
    height: 500px;
    width: 400px;
    background-color:  white;
    border-radius: 20px;

}

.heading{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 2.3rem;
}


.input-1{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.input-2{
    height: 50px;
    width: 35vw;
    border-radius: 13px;
    border: 2px solid  rgb(212, 208, 208);
    font-size: 15px;
    

}

button{
    height: 50px;
    width: 35vw;
    border-radius: 13px;
      border: 2px solid  rgb(218, 223, 223);
      background-color: rgb(22, 174, 201);

    

}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
   
}